<div class="container">
    <mat-toolbar>
        <span>Utente</span>
        <div class="example-spacer"></div>
        <button mat-raised-button color="primary" routerLink="/dashboard/aggiungi-utente">Aggiungi Utente</button>
    </mat-toolbar>

    <div *ngIf="Book.length >0">
        <mat-form-field>
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ricerca" #input autocomplete="off">
        </mat-form-field>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
                <!-- Position Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
                  <td mat-cell *matCellDef="let element"> {{Book[0].id}} </td>
                </ng-container>
                <ng-container matColumnDef="titolo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> titolo </th>
                  <td mat-cell *matCellDef="let element"> {{Book[0].titolo}} </td>
                </ng-container>
                <ng-container matColumnDef="luogo_edizione">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> luogo edizione </th>
                  <td mat-cell *matCellDef="let element"> {{Book[0].luogo_edizione}} </td>
                </ng-container>
                <ng-container matColumnDef="anno_edizione">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> anno_edizione </th>
                  <td mat-cell *matCellDef="let element"> {{Book[0].anno_edizione}} </td>
                </ng-container>
                <ng-container matColumnDef="isbn">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> isbn </th>
                  <td mat-cell *matCellDef="let element"> {{Book[0].isbn}} </td>
                </ng-container>
                <ng-container matColumnDef="isbn13">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> isbn13 </th>
                  <td mat-cell *matCellDef="let element"> {{Book[0].isbn13}} </td>
                </ng-container>
                <ng-container matColumnDef="copie">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> copied </th>
                  <td mat-cell *matCellDef="let element"> {{Book[0].copie}} </td>
                </ng-container>
                <ng-container matColumnDef="publisher_id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> publisher_id </th>
                  <td mat-cell *matCellDef="let element"> {{Book[0].publisher_id}} </td>
                </ng-container>
                <ng-container matColumnDef="author_id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> author_id </th>
                  <td mat-cell *matCellDef="let element"> {{Book[0].author_id}} </td>
                </ng-container>
                <ng-container matColumnDef="topic_id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> topic_id </th>
                  <td mat-cell *matCellDef="let element"> {{Book[0].topic_id}} </td>
                </ng-container>
                

             
        
                <ng-container matColumnDef="azioni">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element; let i = index" style="text-align: right;">
                        <a class="pointer" style="color:#1878b0" matTooltip="Cerca Book">
                            <mat-icon>search</mat-icon>
                        </a>
                        <a class="pointer" style="color:#6ec2f7" matTooltip="Modifica Book">
                            <mat-icon>edit</mat-icon>
                        </a>
                        <a class="pointer" style="color:#e15639" matTooltip="Elimina Book">
                            <mat-icon>delete</mat-icon>
                        </a>
                    </td>
                  </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>

   <h2 *ngIf="Book.length == 0">Non ci sono Utenti</h2> 

</div>
